<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="googlebot" content="index,follow">

    <!-- Title -->
    <title>امتحانک</title>

    <!-- Templates core CSS -->
    <link href="/static/stylesheets/application.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style-farsi.css" type="text/css" />

    <!-- Favicons -->
    <link href="/static/images/favicon/favicon.png" rel="shortcut icon">
    <link href="/static/images/favicon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="/static/images/favicon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/static/images/favicon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="114x114">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <script src="/static/javascript/vendor/modernizr-2.7.1.min.js"></script>
  </head>
  <body class="index" id="to-top">

    <!-- Jumbotron -->
    <header class="jumbotron" role="banner">

      <div class="container">

        <div class="row">

          <div class="col-md-5">

            <!-- Images showcase -->
            <figure>
              <img class="img-iPhone" src="/static/images/iphone/quizup-name-flower.png" alt="">
            </figure>

          </div> <!-- /.col-md-5 -->

          <div class="col-md-7">

            <!-- Logo -->
            <figure class="text-center">
              <a href="./welcome.html">
                <img class="" src="/static/images/QuizUp-Logo.png" alt="">
              </a>
            </figure> <!-- /.text-center -->

            <!-- Title -->
            <h1>مسابقه و هیجان با مضوعاتی متنوع</h1>
            <!--h1>Connecting people through shared interests</h1-->

            <!-- Sub title -->
            <ul class="list-inline">
              <li><p>موضوع برای تمام سلیقه ها</p></li>
              <li><p>مسابقه حساس و هیجان انگیز</p></li>
            </ul>


            <p>
              <a class="btn btn-danger" href="/accounts/login/">ورود</a> &nbsp;
              <a class="btn btn-danger" href="/accounts/register/">ثبت نام</a>
            </p>



          </div> <!-- /.col-md-7 -->
          
        </div> <!-- /.row -->
        
      </div> <!-- /.container -->

    </header> <!-- /.jumbotron -->





    
   
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/javascript/vendor/jquery-2.1.0.min.js"></script>
    <script src="/static/javascript/bootstrap.min.js"></script>
    <script src="/static/javascript/assets/application.js"></script>
  </body>
</html>
